
<head>
<link href="https://fonts.googleapis.com/css?family=Bungee+Hairline|Bungee+Shade|Monoton" rel="stylesheet">
</head>

<body class="imageload">
  <div class="col-md-8 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="form" id="c1">
      <% @slangs.each do |slang| %>
       <div><strong><%= slang.phrase %></strong></div>
        <ul class="list-group">
           <!-- <li class="list-group-item">
           <div><strong>Phrase:  </strong> <%= slang.phrase %></div>
           </li> -->
           <li class="list-group-item">
           <div><strong>Translation:  </strong> <%= slang.translation %></div>
           </li>
           <li class="list-group-item">
           <div><strong>Example:  </strong><%= slang.example %></div>
           </li>
           <li class="list-group-item">
           <div><strong>Country:  </strong><%= slang.country.name %></div>
           </li>

        <%= link_to "edit me", edit_country_slang_path(params[:country_id], slang.id)%> <br>
         <%= link_to "delete me", country_slang_path(params[:country_id], slang.id), method: :delete, data: {confirm: "Are you sure???"} %>
        </ul>

      <% end %>


    <div id="add"><strong><%= link_to "Add some slang!", new_country_slang_path %></strong></div>
    </div>
    <%= link_to "Back to countries!", countries_path %>
</body>
